# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Herramientas y modelos descargados
/tools/
/models/
*.zip

# Medios grandes (no subir)
*.mp4
*.mp3
*_16k_mono.wav

# Salidas de transcripción (pueden contener datos sensibles)
*_transcripcion_vosk.txt

# SO
.DS_Store
Thumbs.db

.env
.vscode/
.idea/
*.log
*.mov
*.avi
*.wav
*.m4a
*.ogg
